

.venv
venv/

db.sqlite3

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# mypy
.mypy_cache/

# Python version
.python-version

# Fluid Attacks Security Scan Results
Fluid-Attacks-Results.csv
